@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>MEH Uni</h1>
    <p class="lead">Welcome to the MEH site of MEH Uni(versity)</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Method</h2>
        <p>
            I will be following a tutorial provided by the Microsoft website. This will be created using Entity Framework, ASP.NET MVC, with a Code First approach.
        </p>
    </div>
    <div class="col-md-4">
        <h2>Keep in mind</h2>
        <p>This is my first complex solo project without using a video guide. I will be using a Microsoft guideline but this will take some time. </p>
    </div>
    <div class="col-md-4">
        <h2>Random</h2>
        <p>I am typing random things here.</p>
    </div>
</div>